@page
@model quiz1_pbkk.Pages.q1.Product

@{
    ViewData["Title"] = "Product";
    Layout = "Shared/_Layout";
}

<div style="padding: 3rem 7rem 3rem 7rem;" class="section-1">
    <div class="section-1-left">
        <p class="section-1-left-title">Security & Control</p>
        <p class="section-1-left-subtitle">Deal with transactions with no worry.</p>
    </div>
    <div class="section-1-right">
        <img style="max-height: 20rem; margin-right: 10rem;" src="~/image/padlock.png" alt="send and pay"/>
    </div>
</div>

<div style="padding: 3rem 10rem 3rem 10rem; display: flex; justify-content: center" >
    <div style="width: 50%; padding: 3rem 4rem 3rem 4rem;" class="section-1-detail">
        <p class="section-1-left-detail-title">What is Security & Control?</p>
        <p class="section-1-left-detail-subtitle">Manage your Security & Control and set your preferences to match your needs. We ensure to provide you practicality and comfort in dealing with various transactions.</p>
    </div>
</div>

<div style="padding: 3rem 7rem 3rem 7rem;" class="section-1">
    <div class="section-1-left">
        <img style="max-height: 20rem;" src="~/image/pay-send.png" alt="send and pay"/>
    </div>
    <div style="align-items: start" class="section-1-right">
        <p tyle="text-align: start;" class="section-1-left-title">Pay & Send</p>
        <p style="text-align: start;" class="section-1-left-subtitle">Pay bills and send money effortlessly in the palm of your hand, with zero fee and zero worries.</p>
    </div>
</div>

<div style="padding: 3rem 10rem 3rem 10rem; display: flex; justify-content: center" >
    <div style="width: 50%; padding: 3rem 4rem 3rem 4rem;" class="section-1-detail">
        <p class="section-1-left-detail-title">What is Pay & Send?</p>
        <p class="section-1-left-detail-subtitle">Send money anytime you want in just a few simple steps. You can deal with these transactions from anywhere you'd like, just like a dream.</p>
    </div>
</div>


<div style="padding: 3rem 7rem 3rem 7rem;" class="section-1">
    <div class="section-1-left">
        <p class="section-1-left-title">Personalization</p>
        <p class="section-1-left-subtitle">Personalize your account to match your needs. Personalize your card to your own taste.</p>
    </div>
    <div class="section-1-right">
        <img style="max-height: 20rem;" src="~/image/personalization.png" alt="send and pay"/>
    </div>
</div>

<div style="padding: 3rem 10rem 3rem 10rem; display: flex; justify-content: center">
    <div style="width: 50%; padding: 3rem 4rem 3rem 4rem;" class="section-1-detail">
        <p class="section-1-left-detail-title">What is Personalization?</p>
        <p class="section-1-left-detail-subtitle">Add some personal touch to your Jago app and make it more intuitive and easy to manage. You can personalize it and make it more familiar to you.</p>
    </div>
</div>

<div style="padding: 3rem 7rem 3rem 7rem;" class="section-1">
    <div class="section-1-left">
        <img style="max-height: 20rem;" src="~/image/business-analysis.png" alt="send and pay"/>
    </div>
    <div style="align-items: start" class="section-1-right">
        <p tyle="text-align: start;" class="section-1-left-title">Spend Analysis</p>
        <p style="text-align: start;" class="section-1-left-subtitle">An expense journal to track your cash flow easily</p>
    </div>
</div>

<div style="padding: 3rem 10rem 3rem 10rem; display: flex; justify-content: center">
    <div style="width: 50%; padding: 3rem 4rem 3rem 4rem;" class="section-1-detail">
        <p class="section-1-left-detail-title">What is Spend Analysis?</p>
        <p class="section-1-left-detail-subtitle">Time to track your spendings anytime, anywhere. All your spending details will be automatically recorded, categorized, and presented on an easy-to-understand diagram. Simple, with no hassle.</p>
    </div>
</div>

<div style="padding: 3rem 7rem 3rem 7rem;" class="section-1">
    <div class="section-1-left">
        <p class="section-1-left-title">Contacts</p>
        <p class="section-1-left-subtitle">Categorize your friends' and families' accounts, just like your phonebook.</p>
    </div>
    <div class="section-1-right">
        <img style="max-height: 20rem;" src="~/image/contact-us.png" alt="send and pay"/>
    </div>
</div>

<div style="padding: 3rem 10rem 3rem 10rem; display: flex; justify-content: center">
    <div style="width: 50%; padding: 3rem 4rem 3rem 4rem;" class="section-1-detail">
        <p class="section-1-left-detail-title">What is Contacts?</p>
        <p class="section-1-left-detail-subtitle">Save any bank account details inside your Pro Contact so you can deal with any transactions more conveniently. You can also add your friends and families to Favorite, to add some personal touch!</p>
    </div>
</div>